* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(240, 242, 246);
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100%;
}
button {
  margin: 20px;
  padding: 10px;
  border: none;
  color: rgb(27, 51, 184);
  width: 50px;
  height: 50px;
  border-radius: 50%;
  cursor: pointer;
  background: transparent;
  box-shadow: -1px 8px  10px rgba(27, 51, 184, 0.5);
}
.cal {
    padding: 20px;
  background: transparent;
  border-radius: 15px;
  box-shadow: 1px 1px 10px 10px rgba(234, 99, 299, 0.2);
}
#input {
  max-width: 350px;
  height: 70px;
  text-align: center;
  margin-top: 50px;
  color: rgb(157, 102, 31);
  overflow: hidden;
}
